{% extends 'base.html.twig' %}

{% block title %}Anim+ | Inscription{% endblock %}

{% block body %}
  {% include '_partials/_nav.html.twig' %}

 

 <section class="signup-section">
        <h4>Inscription</h4>
    
     <div class='signup-form'>

    {{ form_start(registrationForm) }}
    <div class="form">
    {# {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %} #}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'mb-20'}}) }}
        {{ form_widget(registrationForm.enterprise, {'attr': {'class': 'mb-20'}}) }}
        {{ form_widget(registrationForm.password.first, {'attr': {'class': 'mb-20'}}) }}
        {{ form_widget(registrationForm.password.second, {'attr': {'class': 'mb-20'}}) }}
        <button type="submit" class="login-btn">S'inscrire</button>
    </div>
    {{ form_end(registrationForm) }}

     </div>

</section>


 
{% endblock %}
